[Unit]
Description=Node Exporter
After=network.target

[Service]
User=nodeusr
Group=nodeusr
Type=simple
ExecStart=/usr/local/bin/node_exporter \
  --web.listen-address=:{{ prometheus_node_exporter_port }}
[Install]
WantedBy=multi-user.target
